<app-module-banner
  icon="admin_panel_settings"
  [heading]="'iam.users.heading' | translate"
  [description]="'iam.users.description' | translate"
>
  <a mat-flat-button routerLink="/users/new">{{ 'iam.users.new' | translate }}</a>
</app-module-banner>

<div class="ok-table-card table">
  <table mat-table [dataSource]="users()">
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef>{{ 'iam.users.columns.user' | translate }}</th>
      <td mat-cell *matCellDef="let user">{{ user.fullName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>{{ 'iam.users.columns.email' | translate }}</th>
      <td mat-cell *matCellDef="let user">{{ user.email.toString() }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>{{ 'iam.users.columns.role' | translate }}</th>
      <td mat-cell *matCellDef="let user">{{ 'iam.roles.' + user.role.id | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>{{ 'iam.users.columns.status' | translate }}</th>
      <td mat-cell *matCellDef="let user">{{ 'iam.status.' + user.status | translate }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>{{ 'iam.users.columns.actions' | translate }}</th>
      <td mat-cell *matCellDef="let user">
        @if (user.canResendInvitation) {
          <button type="button" class="action" (click)="resend(user.id)">
            {{ 'iam.users.resend' | translate }}
          </button>
        } @else {
          <a class="action" [routerLink]="['/users', user.id, 'edit']">{{ 'iam.users.edit' | translate }}</a>
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
